EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_PASSWORD=xxx
EMAIL_HOST_USER=xyz@test.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
FROM_EMAIL=Coronary AI <xyz@test.com>
USER_SIGNUP_ADMIN_EMAILS=xyz@test.com,abc@test.com